/* 
    color black: #272727
*/
body {
    font-family: 'Roboto', sans-serif;
    color: #272727;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 300;
}

.h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    padding-top: 8px;
}

nav {
    position: fixed;
    padding-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #272727;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding: 10px;
    display: inline-block;
    border: 1px solid red;
}

section {
    min-height: 600px;
    min-height: 100vh;
}

section.dark {
    background: #272727;
    color: #fff;
}

section .h1 {
    margin-bottom: 45px;
}

.featured{
    font-weight: 400;
    font-style: italic;
    line-height: 1.6em;
}

.featured::after{
    content:' ';
    border: 8px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.featured::before{
    content:' ';
    position: absolute;
    top: -8px;
    bottom: 8px;
    left: -35px;
    right: 35px;
    z-index: -1;
    background: #272727;
}

/* sections */

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start .h1 {
    display: inline-block;
    margin: 0;
}

#start .h2 {
    background: #272727;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-weight: 300;
    padding: 15px;
}

#start .social-networks {
    display: none;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 35px;
}
#about-me p {

    margin-bottom: 50px;
}

#about-me .featured{
    align-self: flex-end;
    padding: 65px 25px 25px 65px;
    position: relative;
    z-index: 1;
}

#employement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 35px;
}

#articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 35px;
}

.article{ margin-bottom: 50px;}

#contact-me {}

#contact-me img {
    width: 100%;
}

/* media queries */
/*
background: url('../img/carles-hervera.jpg') center bottom no-repeat;
    background-size: contain;
    */