/* 
    color black: #272727
*/
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #272727;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 400;
}

.h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    padding-top: 8px;
}

nav {}

nav#main-menu {
    position: fixed;
    padding-top: 65px;
    padding-right: 65px;
    flex-direction: column;
    align-items: flex-end;
    z-index: 8;
    display: none;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    background: #fff;
    -webkit-transition: all 3s;
    transition: all 3s;
}

nav#main-menu .main {
    display: none;
}

nav#main-menu.opened {
    display: flex;
    -webkit-transition: all 3s;
    transition: all 3s;
    background: #272727e6;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding: 10px;
    display: inline-block;
}

header {
    padding: 15px;
}

header a.main {
    font-size: 22px;
    text-decoration: none;
    color: #272727;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-weight: 400;
}

header a.main .logo {
    font-weight: 400;
    background: #272727;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    color: #fff;
    margin-right: 5px;
    border-radius: 100%;
    font-size: 22px;
    padding-left: 0px;
    margin-top: 0px;
}

.toggler-nav {
    width: 30px;
    height: 24px;
    position: fixed;
    right: 15px;
    top: 26px;
    z-index: 9;
    display: none;
}

.toggler-nav.show,
.toggler-nav.inside {
    display: block;
}

.toggler-nav::after,
.toggler-nav span,
.toggler-nav::before {
    content: ' ';
    text-indent: -9999px;
    display: inline-block;
    background: #fff;
    width: 24px;
    height: 1px;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    mix-blend-mode: difference;
}

.toggler-nav.black::after,
.toggler-nav.black span,
.toggler-nav.black::before,
.toggler-nav.inside::after,
.toggler-nav.inside span,
.toggler-nav.inside::before {
    background: #272727;
}

.toggler-nav.black.pressed::after,
.toggler-nav.black.pressed span,
.toggler-nav.black.pressed::before,
.toggler-nav.inside.pressed::after,
.toggler-nav.inside.pressed span,
.toggler-nav.inside.pressed::before {
    background: #fff;
}

.toggler-nav::after {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.toggler-nav span {
    position: absolute;
    top: 8px;
    opacity: 1;
    filter: alpha(opacity=1);
}

.toggler-nav::before {
    position: absolute;
    top: 16px;
    transform: rotate(0deg);
}

.toggler-nav.pressed::after,
.toggler-nav.pressed span,
.toggler-nav.pressed::before {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.toggler-nav.pressed::after {
    transform: rotate(45deg);
    top: 12px;
}

.toggler-nav.pressed span {
    opacity: 0;
    filter: alpha(opacity=0);
}

.toggler-nav.pressed::before {
    transform: rotate(-45deg);
    top: 12px;
}

section.screen-size {
    box-sizing: border-box;
    min-height: 600px;
    min-height: 100vh;
}

.dark {
    background: #272727;
    color: #fff;
}

.grey {
    background: #f3f3f3;
}

section .h1 {
    margin-bottom: 45px;
}

.featured {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 12px;
}

.featured::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.dark .featured::after {
    border: 12px solid #fff;
}

.featured::before {
    content: ' ';
    position: absolute;
    top: -12px;
    bottom: 12px;
    left: -35px;
    right: 35px;
    z-index: -1;
    background: #272727;
}

.featured.type2::before {
    top: -12px;
    bottom: 12px;
    left: 65px;
    right: 12px;
}

/* sections */
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start .h1 {
    display: inline-block;
    margin: 0;
}

#start .h2 {
    background: #272727;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-weight: 300;
    padding: 15px;
}

#start .social-networks {
    display: none;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 35px;
}

#about-me p {
    margin-bottom: 50px;
    margin-top: 0;
}

#about-me .featured {
    font-weight: 400;
    font-style: italic;
    line-height: 1.6em;
    align-self: flex-end;
    padding: 65px 25px 25px 65px;
}

#employement {
    display: flex;
    flex-direction: column;
    padding: 75px 35px;
    justify-content: center;
}

.timeline {
    padding-left: 35px;
    position: relative;
}

.timeline::before {
    content: ' ';
    position: absolute;
    border-left: 12px solid #272727;
    top: 0;
    bottom: 0;
    left: 30px;
    width: 0px;
}

.timeline .event {
    position: relative;
    padding-left: 25px;
    margin-bottom: 35px;
}

.timeline .event .year {
    position: absolute;
    left: -21px;
    width: 0;
    top: 4px;
    word-wrap: break-word;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
}

.timeline .event .title {
    font-weight: 700;
    display: block;
    font-size: 22px;
}

.timeline .event .description {
    font-size: 16px;
    line-height: 1.4em;
    display: inline-block;
}

#articles {
    display: flex;
    flex-direction: column;
    padding: 75px 35px;
}

.article-list {
    text-align: center;
}

.article-list .article {
    background: #fff;
    display: inline-block;
    max-width: 350px;
    margin: 0 15px 50px 15px;
    text-decoration: none;
    color: #272727;
}

.article-list .article img {
    max-width: 100%;
    height: auto;
    display: block;
}

.article-list .article .featured {
    padding: 15px 40px;
    min-height: 140px;
}

.article-list .article .featured:after {
    border: 12px solid #272727;
}

.article-list .article .featured::before {
    background: #fff;
}

.article-list .article .featured.type1::before {
    top: 12px;
    left: 35px;
    right: 0;
    bottom: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.article-list .article:hover .featured.type1::before {
    top: 55px;
    left: 155px;
    right: 0;
    bottom: 0;
}

.article-list .article .featured.type2::before {
    top: 85px;
    left: 12px;
    right: 0;
    bottom: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.article-list .article:hover .featured.type2::before {
    top: 12px;
    left: 135px;
    right: 0;
    bottom: 0;
}

.article-list .article .featured.type3::before {
    top: 12px;
    left: 0;
    right: 85px;
    bottom: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.article-list .article:hover .featured.type3::before {
    top: 155px;
    left: 0;
    right: 12px;
    bottom: 0;
}

.article-list .article .content p {
    font-size: 16px;
    line-height: 1.2em;
    display: none;
}

.more {
    color: #272727;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 32px 35px 32px 85px;
    line-height: 1em;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    position: relative;
}

.more::after {
    content: ' ';
    position: absolute;
    left: 35px;
    width: 12px;
    top: 12px;
    bottom: 12px;
    background: #272727;
    -webkit-transition: all .3s;
    transition: all .3s;
    transform: rotate(0deg);
}

.more::before {
    content: ' ';
    position: absolute;
    left: 12px;
    width: 58px;
    top: 35px;
    height: 12px;
    background: #272727;
    -webkit-transition: all .3s;
    transition: all .3s;
    transform: rotate(0deg);
}

.more:hover {
    text-decoration: underline;
}

.more:hover::after {
    -webkit-transition: all .3s;
    transition: all .3s;
    transform: rotate(90deg);
}

.more:hover::before {
    -webkit-transition: all .3s;
    transition: all .3s;
    transform: rotate(90deg);
}

#contact-me .header {
    padding: 35px;
    text-align: center;
}

#contact-me .header .featured {
    display: inline-block;
}

#contact-me img {
    display: block;
    height: auto;
    max-width: 100%;
}

#contact-me .content {
    min-height: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-me .content .h1 {
    font-size: 35px;
}

#contact-me ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#contact-me ul li a {
    text-indent: -99999px;
    width: 32px;
    height: 32px;
    display: block;
    margin: 5px;
}

.social-networks.icons a.linked-in {
    background: url('../img/linkedin.png') center center no-repeat;
}

.social-networks.icons a.twitter {
    background: url('../img/twitter.png') center center no-repeat;
}

#article #header {
    padding: 35px;
}

#article .h1 {
    line-height: 1em;
    font-size: 35px;
    margin: 0;
}

#article #subheader {
    background: #272727;
    color: #fff;
    display: inline-block;
    padding: 15px;
}

#article #content {
    padding: 35px;
    font-size: 16px;
}

#article #content>p,
#article #content>div,
#article #content>h2,
#article #content>ul {
    margin-bottom: 30px;
}

#article #footer {
    padding: 35px 35px 1px 35px;
}

#article #footer .category,
#article #footer .tags-list {
    margin-bottom: 35px;
    padding: 35px;
}

#article #footer a {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

#article #footer span {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

/* media queries */
@media (min-width:992px) {
    nav#main-menu.inside .main {
        display: inline;
    }

    nav#main-menu.inside {
        bottom: auto;
        display: block;
        background: #272727;
        padding: 15px 0;
    }

    #start {
        background: url('../img/carles-hervera.jpg') 70% bottom no-repeat;
        background-size: contain;
        padding-left: 20%;
        align-items: baseline;
    }

    #employement {
        padding: 20%;
    }

    .timeline::before {
        left: 215px;
    }

    .timeline .event .wrapper {
        text-align: right;
        position: relative;
        display: inline-block;
    }

    .timeline .event .header {
        width: 140px;
        display: inline-block;
        position: absolute;
        text-align: right;
    }

    .timeline .event .description {
        padding: 0 0 0 181px;
        min-height: 90px;
    }

    #articles {
        padding: 20% 0;
    }

    #articles .h1 {
        margin-left: 20%;
    }

    #articles .article-list {
        padding: 0 35px;
    }

    #about-me {
        padding: 20%;
    }
}

@media (min-width:1200px) {
    .timeline::before {
        left: 280px;
    }

    .timeline .event .header {
        width: 203px;
    }

    .timeline .event:nth-child(2) .header {
        width: 300px;
    }

    .timeline .event:nth-child(2) .year {
        left: auto;
        right: -15px;
    }

    .timeline .event .description {
        padding: 0 0 0 247px;
    }

    .timeline .event:nth-child(2) .description {
        padding: 0 0 0 344px;
    }
}