/* 
    color black: #272727
*/
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #272727;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 400;
}

.h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    padding-top: 8px;
}

nav {
    position: fixed;
    padding-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #272727;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding: 10px;
    display: inline-block;
    border: 1px solid red;
}

section {
    min-height: 600px;
    min-height: 100vh;
}

.dark {
    background: #272727;
    color: #fff;
}

.grey {
    background: #f3f3f3;
}

section .h1 {
    margin-bottom: 45px;
}

.featured {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 12px;
}

.featured::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.dark .featured::after {
    border: 12px solid #fff;
}

.featured::before {
    content: ' ';
    position: absolute;
    top: -12px;
    bottom: 12px;
    left: -35px;
    right: 35px;
    z-index: -1;
    background: #272727;
}

/* sections */
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start .h1 {
    display: inline-block;
    margin: 0;
}

#start .h2 {
    background: #272727;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-weight: 300;
    padding: 15px;
}

#start .social-networks {
    display: none;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 35px;
}

#about-me p {
    margin-bottom: 50px;
}

#about-me .featured {
    font-weight: 400;
    font-style: italic;
    line-height: 1.6em;
    align-self: flex-end;
    padding: 65px 25px 25px 65px;
}

#employement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 35px;
}

#articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 35px;
}

.article {
    margin-bottom: 50px;
    background: #fff;
    display: block;
    max-width: 350px;
}

.article img {
    max-width: 100%;
    height: auto;
    display: block;
}

.article .featured {
    padding: 15px 40px;
}

.article .featured:after {
    border: 12px solid #272727;
}

.article .featured::before {
    background: #fff;
}

.article .featured.type1::before {
    top: 12px;
    left: 35px;
    right: 0;
    bottom: 0;
}

.article .featured.type2::before {
    top: 85px;
    left: 12px;
    right: 0;
    bottom: 0;
}

.article .featured.type3::before {
    top: 12px;
    left: 0;
    right: 85px;
    bottom: 0;
}

.article .content p {
    font-size: 16px;
    line-height: 1.2em;
}

.more {
    color: #272727;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 32px 35px 32px 85px;
    line-height: 1em;
    display: inline-block;
    position: relative;
}

.more::after {
    content: ' ';
    position: absolute;
    left: 35px;
    width: 12px;
    top: 12px;
    bottom: 12px;
    background: #272727;
}

.more::before {
    content: ' ';
    position: absolute;
    left: 12px;
    width: 58px;
    top: 35px;
    height: 12px;
    background: #272727;
}

#contact-me .header {
    padding: 35px;
}

#contact-me img {
    display: block;
    height: auto;
    max-width: 100%;
}

#contact-me .content {
    min-height: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-me .content .h1{
    font-size: 35px;
}

#contact-me ul{
    display: flex;
    list-style: none;
    padding: 0;
}

#contact-me ul li a{
    text-indent: -99999px;
    width: 32px;
    height: 32px;
    display: block;
    margin: 5px;
}

.social-networks.icons a.linked-in{
    background: url('../img/linkedin.png') center center no-repeat;
}

.social-networks.icons a.twitter{
    background: url('../img/twitter.png') center center no-repeat;
}

/* media queries */
/*
background: url('../img/carles-hervera.jpg') center bottom no-repeat;
    background-size: contain;
    */